<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GO FURIA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>🤖 Conheça o <strong>GO FURIA</strong> no Telegram!</h1>
    <p>Conheça Todos as novidades do time FURIA</p>
    <a href="https://web.telegram.org/a/#7769716517" class="btn">Usar no Telegram</a>
  </header>

  <section class="features">
    <h2>Recursos</h2>
    <ul>
      <li>✅ News</li>
      <li>📅 Matches</li>
      <li>📈 Estatisticas</li>
      <li>📈 MVP</li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2025 GOFURIA. Todos os direitos reservados.</p>
  </footer>
</body>
</html>